
$white: #ffffff;

$theme-colors: (
    "light":      #ebebd2,
    "dark":       #451a18,
    "primary":    #5868f6,
    "secondary":  #e24fb9,
    "info":       #ffbe6e,
    "success":    #00bf70,
    "warning":    #e9d200,
    "danger":     #fd1e00,
);

.customer-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.customerImage
{
    height: 200px !important;
    width: 200px !important;
}

.pagination-dark .page-item.active .page-link {
    background-color: #451a18; /* Dark background color for active state */
    border-color: #451a18; /* Dark border color for active state */
    color: #fff; /* Light text color for active state */
  }


@import "../node_modules/bootstrap/scss/bootstrap.scss";



